NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# DataLens приватный ключ для генерации токена встраивания
# Полный приватный ключ RSA (включая -----BEGIN RSA PRIVATE KEY----- и -----END RSA PRIVATE KEY-----)
DATALENS_PRIVATE_KEY=
# ID дашборда для встраивания (опционально, если не указан, используется s49hscam1mbed)
DATALENS_EMBED_ID=s49hscam1mbed

# Используется библиотекой Next.js
NEXT_TELEMETRY_DISABLED=1


