@use "./media-breakpoints" as *;

body {
    font-family: var(--font-inter);
}

body *::-webkit-scrollbar,
body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

body *::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
    background: transparent;
}

body *::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
    background: var(--color-gray-50);
    border-radius: 4px;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: var(--color-gray-100);
    scrollbar-gutter: stable;
}

.wrapper {
    position: relative;
    max-width: 100%;
    min-width: $media-sm;
    min-height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.page {
    flex: 1 1 auto;
    min-height: 0;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

    @media (min-width: $media-md) {
        padding-left: 20px;
        padding-right: 20px;
    }

    @media (min-width: $media-lg) {
        padding-left: 25px;
        padding-right: 25px;
    }

    @media (min-width: $media-xl) {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.image {
    position: relative;
    overflow: hidden;
}

.image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    object-fit: cover;
}
