:root {
    --font-inter: "Inter", sans-serif;

    --trans: 0.2s ease-in-out;

    --bg-white: rgba(255, 255, 255, 0.1);
    --border-white: rgba(255, 255, 255, 0.2);
    --border: rgba(40, 38, 86, 0.1);

    --color-white: #ffffff;
    --color-black: #000000;

    --color-main: #191831;
    --color-gray-dark: #302f46;
    --color-gray: #8c8b98;
    
    --color-orange: #fe7553;
    --color-purple: #282656;
}
