:root {
    --font-inter: "Inter", sans-serif;

    --trans: 0.2s ease-in-out;

    --bg-white: rgba(255, 255, 255, 0.1);
    --border-white: rgba(255, 255, 255, 0.2);
    --border: rgba(40, 38, 86, 0.1);

    --color-white: #ffffff;
    --color-primary: #fafafa;
    --color-black: #000000;
    --color-orange: #fe7553;

    --color-main: #191831;

    --color-purple: #282656;
}
