:root {
    --font-inter: "Inter", sans-serif;

    --trans: 0.2s ease-in-out;

    --bg-white: rgba(255, 255, 255, 0.1);
    --border-white: rgba(255, 255, 255, 0.2);

    --color-white: #ffffff;
    --color-primary: #fafafa;
    --color-black: #000000;
    --color-purple: #282656;
}
