.header {
    background: var(--color-purple);
    color: var(--color-white);

    &__container {
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }

    &__logo {
        display: block;
        width: 120px;
        flex: 0 0 120px;
        height: 26px;
    }

    &__title {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 23px;
        line-height: 100%;
        padding-left: 30px;
        border-left: 2px solid var(--bg-white);
        min-height: 40px;
    }

    &__row {
        display: flex;
        align-items: center;
        gap: 30px;
    }
}
