.user-menu {
    display: flex;
    align-items: center;
    gap: 15px;

    &__text {
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-weight: 400;
        line-height: 100%;

        > div {
            font-size: 16px;
        }

        span {
            font-size: 14px;
        }
    }
}

.user-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 40px;
    height: 40px;
    flex: 0 0 40px;
    border-radius: 50%;
    border: 1px solid var(--border-white);
    background: var(--bg-white);
}
